export("fars_summarize_years")
export("fars_map_state")

import("magrittr")
import("dplyr")
importFrom("readr", "read_csv")
importFrom("tidyr", "spread")
importFrom("maps", "map")
importFrom("graphics", "points")
